
.tab-button{
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
  display: inline-block;
  border-radius: 50px;
  height: 40px;
  padding: 0 25px;
  line-height: 40px;
  background-color: #fff;
  color: var(--color-black);
  margin-right: 20px;
}

.tab-button.active {
  background-color: #F8FF64;
  box-shadow: 4px 4px 4px rgb(103, 252, 107);
  color: #222;
  font-weight: bold;
}

#page01{display: flex;}
#page01 .page-index{
  position: relative;
}
#page01 .page-index strong{
  font-size: 200px;
  color: #e3e3e3;
  z-index: -1;
  font-weight: bold;
  position: absolute;
}
#page01 .page-index h3{
  font-size: 50px;
  color: #222;
  z-index: 1;
}
#page01 .tab-wrap{
  justify-content: center;
  align-content: center;
  margin-left: 40px;
}



#design{

}
#design .img-container{
  margin-top: 180px;
  width: 1200px;
}
#design .container-wrap{

}
#design .img-wrap{
  width: 1400px;
  border: 1px solid #000;
}
#design .img-container .container-wrap .img-wrap img{
  display: inline-block;
  width: 320px;
  height: 300px;
  margin: 30px;
  gap: 100px;
  position: relative;
}



