.design-section h3,
.design-grid h3 {
  font-size: 40px;
  text-align: center;
  color: var(--primary-green);
  margin: 40px 0;
  font-style: italic;
}
.design-section h3 em,
.design-grid h3 em {
  color: var(--secondary);
}
#desigm-page {
  padding: 160px 0;
}
/* grahpic design */
.design-grid .design-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.design-item .item {
  display: block;
  position: relative;
  margin: 40px;
}
.design-item .item .text-item:hover {
  opacity: 1;
  background-color: rgba(103, 252, 107, 0.8);
  width: 320px;
  height: 300px;
  position: absolute;
  top: 0;
  border-radius: 8px 8px 0 0;
  color: var(--color-black);
  transition: all 0.3s ease-in-out;
}
.design-item img {
  width: 320px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.design-item .text {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 320px;
  height: 100px;
  background-color: var(--primary-yellow);
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: var(--text-gray5);
  font-family: "Paperlogy-5Medium";
  font-weight: 500;
  line-height: 1.5;
}
.design-item .text img {
  width: 30px;
  height: 30px;
  border-radius: 0;
  box-shadow: none;
}

.design-item .item .text-item {
  opacity: 0;
  background-color: rgba(103, 252, 107, 0.8);
  width: 320px;
  height: 300px;
  position: absolute;
  top: 0;
  border-radius: 8px 8px 0 0;
  padding: 120px 70px;
  justify-content: center;
}
.design-item .item .text-item p {
  width: 180px;
  font-family: "Paperlogy-5Medium";
  font-weight: 500;
  display: flex;
  justify-content: center;
}

/* uiux design */
.uiux-design {
  display: block;
  margin-bottom: 40px;
}
.uiux-design .uiux-container {
  display: grid;
  gap: 250px;
  margin: 0 150px;
  grid-template-columns: repeat(2, 1fr);
}
.uiux-design .uiux-container .item {
}
.uiux-design .uiux-container .item img {
  width: 500px;
  height: 380px;
  margin-bottom: 50px;
}
.uiux-design .uiux-container .item .text {
  width: 500px;
}
.uiux-design .uiux-container .item .text h5 {
  font-size: 36px;
  font-family: "Paperlogy-8ExtraBold";
  margin-bottom: 30px;
}
.uiux-design .uiux-container .item .text h5 em {
  font-size: 20px;
  color: var(--text-gray8);
  font-style: normal;
  margin-left: 50px;
  font-family: "Paperlogy-4Regular";
}
.uiux-design .uiux-container .item .text p {
  font-size: 22px;
  color: var(--text-gray8);
  font-family: "Paperlogy-5Medium";
}
.uiux-design .uiux-container .item .text p.date {
  color: var(--secondary);
}
.uiux-design .uiux-container .item .text p span {
  color: var(--primary-green);
  font-family: "Paperlogy-7Bold";
  margin-right: 10px;
  width: 800px;
}
.uiux-design .uiux-container .item .link {
  margin-top: 50px;
}
.uiux-design .uiux-container .item .link a button {
  padding: 5px;
}

.item .text-item button.modal-custom-button a {
  border: none;
  background-color: none;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  font-family: "Paperlogy-7Bold";
  font-weight: 700;
  color: var(--secondary);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin: auto;
}
