footer {
  background-color: var(--primary-yellow);
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
}
footer p.footer_text {
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1200px;
  padding: 35px;
  color: var(--text-gray5);
  font-family: "Paperlogy-5Medium";
}
footer p.footer_text strong {
  color: var(--secondary);
  font-family: "Paperlogy-7Bold";
  font-weight: 700;
  font-size: 18px;
}
footer p.footer_text em {
  font-style: italic;
  font-size: 14px;
}
footer p.footer_text span a {
  color: var(--secondary);
  font-family: "Paperlogy-5Medium";
  font-size: 18px;
}
