footer p.footer_text {
  text-align: center;
  line-height: 1.5;
  /* position: absolute; */
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 35px;
}
footer p.footer_text strong {
  color: var(--secondary);
  font-family: "Paperlogy-7Bold";
  font-weight: 700;
  font-size: 18px;
}
footer p.footer_text em {
  font-style: italic;
  font-size: 14px;
}
footer p.footer_text span a {
  color: var(--secondary);
  font-family: "Paperlogy-5Medium";
  font-size: 18px;
}
