#resume .top-left .mypage p.icon a:hover{
  text-decoration-line: underline;
  color: var(--text-black);
}
#resume .top-right .skills-gallery-container .left h3:hover{
  text-decoration: wavy;
}

#resume .right .img .gallery ul.thumbs li:hover {
  opacity: 1;
}


/* desgin section */
.tabContents .item .text-item button.more:hover{
  background-color: var(--primary-yellow);
  transform: translateY(-5px);
  color: #333;
  transition: 0.3s ease-in;
}

#publishing-page .left_info .link a button:hover,
#team-pj .left_info .link a button:hover{
  border: 2px dotted var(--secondary);
  background-color: var(--primary-yellow);
  color: var(--secondary);
  font-family: 'Paperlogy-7Bold';
  transform: translateX(5px);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}