/* .modal {
  position: absolute;
  position: fixed;
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
  position: absolute;
  top: 50%;
  align-items: center;
  width: 1400px;
  padding: 20px;
  background: url(/assets/images/bg-h.png);
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(255, 255, 255, 0.15);
  transform: translateY(-50%);
  overflow: auto;
}

.modal_header {
  position: relative;
}
.modal_header h2 {
  font-family: "yg-jalnan";
}

.btn-close-modal {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
 */
/* 
.modal {
  display: none;
  position: fixed;
  z-index: 900;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background: url(/assets/images/bg-h.png);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #000;
  width: 50%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
}
.close:hover,
.close:focus {
  color: 444;
  text-decoration: none;
  cursor: pointer;
} */

.modal-custom {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(/assets/images/bg-h.png);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 1400px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close-modal {
  position: absolute;
  color: white;
  font-size: 50px;
  font-weight: bold;
  top: 30px;
  right: 40px;
}
span.close-modal:hover,
span.close-modal:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  transform: 3s ease-in-out;
}
.modal-header {
  position: absolute;
  top: 0;
  margin-top: 120px;
  display: flex;
  width: 1400px;
  align-items: center;
}
.modal-header h2 {
  font-family: "yg-jalnan";
  color: #593d28;
  font-size: 45px;
  margin-right: 680px;
  padding: 50px;
}
.modal-header strong {
  font-family: "Paperlogy-4Regular";
  font-size: 20px;
  color: var(--text-gray8);
  letter-spacing: 1px;
  padding-right: 10px;
}
.modal-body {
  width: 1400px;
  height: 550px;
  display: flex;
  margin: 440px 0px 50px 0px;
  align-items: center;
}
.modal-body p {
  position: absolute;
  font-size: 25px;
  /* color: #aaa; */
  color: var(--text-black);
  font-family: "Paperlogy-5Medium";
  letter-spacing: 1px;
  padding: 0 50px;
}
.modal-body img {
  position: absolute;
  right: 2%;
}
.modal-sec {
  background-color: white;
}
.modal-sec h3 {
  background-color: #dbfc87;
  color: #333;
  height: 126px;
  font-size: 22px;
  align-content: center;
  padding-left: 50px;
}
.modal-sec .pic {
  width: 1400px;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
}
.modal-sec .pic img {
  width: 600px;
  height: 300px;
  margin: 50px;
}
.modal-footer p {
  color: white;
  align-items: center;
  background-color: #444;
  font-size: 20px;
  font-family: "Paperlogy-4Regular";
  letter-spacing: 2px;
  padding: 50px;
  margin-top: 50px;
  text-align: center;
}
