#page02{
  /* border: 1px solid #000; */
}
#page02 .design{
  /* border: 1px solid #000; */
}#page02 .page-index h3{
  font-size: 50px;
  color: #333;
}
#page02 .page-index strong{
  font-size: 200px;
  font-family: 'Paperlogy-9Black';
  font-weight: 900;
  color: var(--light-gray);
}

.items{

}
.item-list{
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.item-list img{
  width: 380px;
  height: 300px;
}
.item-list li{
  border: 1px solid #000;
  width: 380px;
  height: 300px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-list li a{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/* pop up Box */
.modal{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10000;
  overflow-x: hidden;
  overflow-y: auto;
}
.modalBox{
  position: relative;
  width: 1200px;
  min-height: 100%;
  margin: auto;
}
.modal-content{
  position: absolute;
  width: 1200px;
  min-height: 100%;
  background-color: #fff;
}
.modal-content > li{
  display: none;
  text-align: center;
  font-size: 30px;
}
.modal-content p{
  color: #888;
}
.modal-btn{
  position: absolute;
  right: 50px;
  top: 30px;
  width: 100px;
  height: 150px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  z-index: 2000;
}
.modal-btn i{cursor: pointer;}
.close{
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
.close i{font-size: 32px;}
.lr-btn{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.page-num{
  font-size: 14px;
  color: #fff;
  width: 80px;
  padding-top: 10px;
  height: 50px;
  text-align: center;
}




#publishing-page{
  display: flex;
  justify-content: space-between;
  /* background-color: #fff; */
  /* border: 1px solid #000; */
  background-color: #f1f1f1;
  padding-top: 80px;
  overflow-x: hidden;
}

#publishing-page .page-index{
  display: block;
  margin-left: 50px;
}

#publishing-page .left_info{
  display: flex;
  flex-direction: column;
}
#publishing-page .left_info .caption h3{
  font-size: 36px;
  color: var(--text-black);
  font-family: 'Paperlogy-8ExtraBold';

  padding-bottom: 100px;
}
#publishing-page .left_info .caption{
  width: 500px;
  justify-items: left;
  font-size: 22px;
  color: var(--text-gray5);
  font-family: 'Paperlogy-5Medium';
  /* border: 1px solid #000; */
  margin-left: 50px;
}
#publishing-page .left_info .caption strong{
  color: #211A83;
}
#publishing-page .left_info .caption p
{
  /* border: 1px solid #000; */
  width: 300px;
  font-size: 18px;
}
#publishing-page .left_info .caption p img{
  width: 30px;
  height: 30px;
  border: 1px solid red;
  margin-left: 10px;
}

#publishing-page .left_info .link{
  width: 500px;
  height: 300px;
  /* border: 1px solid #000; */
  margin-left: -15px;
}
#publishing-page .left_info .link a button{
  width: 120px;
  border: 2px solid var(--primary-green);
  background-color: #fff;
  margin: 50px 20px 0;
  font-size: 20px;
  color: var(--primary-green);
}

#publishing-page .right_mockup{
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 50px;
  animation: pc-dung 3s infinite;
}
#publishing-page .right_mockup .mockup img{
  width: 100%;
  display: block;
  transform: rotate(-21deg);
}
.mediheal{
  position: absolute;
  top: 10%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.video-wrapper{
  width: 78%;
  height: 100%;
  margin: -5px 328px 50px 30px;
  padding-top: 14px;
  border-radius: 10px;
  overflow: hidden;
  transform: skew(-6deg, -3deg);
}

.video-wrapper video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


